@charset "UTF-8";

/* reset */ 
* {
	margin: 0;
	padding: 0;
}

#page { 
	width: 1005px;
	margin: 0 auto;
}

#page section {
	width: 800px;
	min-height: 600px;
	border: 1px solid orange;
	padding: 5px;
}

#page main {
	display: flex;
}